exportPattern("^[[:alpha:]]+")

import(BiocGenerics)
import(GenomicRanges)
import(S4Vectors)
import(data.table)
importFrom(glue, glue)
importFrom(dplyr, "%>%")
importFrom(tibble, rownames_to_column, column_to_rownames)
importFrom(GenomeInfoDb, seqlevelsStyle)